

body {
    display: flex;
    flex-direction: column;
    background-image: url(../Bilder/hallstatt-g9b3b4f57b_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: yellow;
    font-size: 1.4em;
}

.table, th, td { 
    border: thin solid; 
    text-align: center;
}

#coll { border-collapse: collapse; }
#sepa { border-collapse: separate; margin-top: 2em; }
caption { text-align: left; }
table, th, td { border: thin solid; }
#coll { border-collapse: collapse; }
#sepa { border-collapse: separate; margin-top: 2em; }
caption { text-align: left; }

// keine funktion - head bearbeiten
.btn {
    color: yellow;
    background-color: rgba(0, 110, 255, 0.515);
    border: 3px solid yellow;
    border-radius: 10%;
    text-align: center;
    margin-top: 2px;
    padding-top: 6px;
    width: 190px;
    height: 40px;
    cursor: pointer;
    
}

