* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    background-image: url("./Bilder/alpenwand.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

// Headerbereich


h1, h3 {
    text-align: center;
    margin: 8px;
    color: rgba(0, 47, 255, 0.887);
}

.page-title {
    position: fixed;
    top: 0;
    width: 100%;
    height: 140px;
    background-color: rgba(255, 255, 255, 0.677);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-nav ul {
    display: flex;


.page-nav li {
    list-style-type: none;
    padding-left: 10px;
    cursor: pointer;
    font-size: 1.5em;

}

// Mainbereich

main {
    margin-top: 180px;
    padding-bottom: 30px;
}

.container-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgb(255, 255, 0);
    font-weight: bolder;
    font-size: 1.6em;



    .item {
        border: 1px solid grey;
        width: 220px;
        height: 270px;
        cursor: pointer;
        border: 12px solid rgba(128, 128, 128, 0.486);
        border-radius: 14%;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 1s;
    }
    
    .item:hover {
        transform: scale(1.2);
    }
    
    .wandern {
        background-image: url(./Bilder/rough-horn-gc6326cf4d_1280.jpg);
    }

    .bergwandern {
        background-image: url(./Bilder/bergtour-1194233.jpg);
    }

    .talwandern {
        background-image: url(./Bilder/Talwandern-4610085.jpg);
    }

    .huettentouren {
        background-image: url(./Bilder/berghütte.jpg);
    }

    .biketouren {
        background-image: url(./Bilder/biker-3967817.jpg);
    }

    .wanderfuehrungen {
        background-image: url(./Bilder/guide-11189584.jpg);
    }

    @media screen and (min-width: 600px){
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.kundeninfo {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: rgba(128, 128, 128, 0.729);
    font-size: 2.5em;
    color: rgb(255, 255, 0);
    width: 85%;
    margin: 100px;
}

.article {
    width: 100%;
    justify-content: center;
}

p {
    color: rgb(255, 255, 0);
}

article {
    color: yellow;
}

.carousel {
    opacity: 0.98;
    border: 4px solid rgba(0, 47, 255, 0.468);

}

// Footerbereich


footer .mitte {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 4em;
    color: rgba(245, 237, 5, 0.724);
    font-size: 2rem;
    text-align: center;
    list-style-type: none;
    justify-content: center;
    margin-top: 0px;
    padding-bottom: 20px;
    
}

.mitte ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    background-color: rgba(31, 21, 218, 0.616);
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.copyright {
    display: flex;
    flex-direction: row-reverse;
}














